body{
    background-color:#0D3B66;
}

.myDiv{
    background-color:#72BF7E;
}

h1{
    color:#A3E8FD;
}

.btnidentify{
    background-color:#4DE27E;
}

.btnphoto{
    background-color:#E15554;
}